.main_container {
    ---height-header:"0vh";
    background-color: var(--background-color);
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

.container {
    margin: 0 auto;
}

.outlet {
    position: relative;
    margin-top: var(---height-header);
    height: calc(100vh - var(---height-header) - var(--footer-height)); /* Высота контента */
    overflow-y: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(---height-header);
    background: var(--heading-color);
    color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}

