.container{
    height: 5px;
    overflow-x: hidden;
    position: relative;
}
.loading{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 7px;
    margin: auto;
    background: linear-gradient(to right, var(--warning-color), var(--error-color), #fff) 0 0 / 50% 100% repeat-x;
    animation: loading 2s linear 0s infinite;
}

@keyframes loading{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}
